@import url("/assets/theme.css");

header {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding-top: .5rem;
  border-top: 1px solid var(--nc-bg-3);
}

footer > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer > nav > ul > li {
  display: inline-block;
  margin: 0;
}

footer > nav > ul > li:not(:last-child):after {
  content: "|";
  margin: 0 .2rem;
}

@media screen and (max-width: 320px) {
  footer {
    flex-direction: column;
  }
}

