@import url("./theme.css");

header {
  text-align: center;
}

footer {
  font-size: 0.8rem;
}

footer > :last-child {
  text-align: center;
  opacity: .65;
}

footer > div:first-child {
  display: flex;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  padding-top: .5rem;
  border-top: 1px solid var(--nc-bg-3);
}

footer nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer nav > ul > li {
  display: inline-block;
  margin: 0;
}

footer nav > ul > li:not(:last-child):after {
  content: "|";
  margin: 0 .2rem;
}

li > p:first-child, li > p:last-child {
  margin-bottom: 0;
}

li > a + p:last-child {
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

main > nav:first-child > * {
  display: inline-block;
  margin: 0;
  padding: 0;
}

main > nav:first-child > *::after {
  display: inline-block;
  content: '»';
  margin: 0 .5rem;
}

@media screen and (max-width: 480px) {
  footer {
    flex-direction: column;
  }
}

