<footer>
  <p>&copy; copyright 2020 <a href="https://tmpfs.org">tmpfs</a></p>
  <nav>
    <ul>
      <li>
        <a href="/articles/">Articles</a>
      </li>
      <li>
        <a href="/source/">Source</a>
      </li>
    </ul>
  </nav>
</footer>
