<footer>
  <div>
    <p>&copy; copyright 2020 <a href="https://tmpfs.org">tmpfs</a></p>
    <nav>
      <ul>
        <li>
          <a href="/articles/">Articles</a>
        </li>
        <li>
          <a href="/faq/">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
  <div>
    <div>Last updated</div>
    <p>{{ context.modified }}</p>
  </div>
</footer>
