<header>
  <span class="logo">&lt;hypertext&gt;</span>
  <nav>
    <a href="/">Home</a>
    <a href="/docs/">Docs</a>
    <a href="/download/">Download</a>
    <a href="{{repo_url}}">Source</a>
  </nav>
</header>
