<header>
  <span class="logo">&lt;hypertext&gt;</span>
  <nav>
    <a href="{{ rel "/" }}">Home</a>
    <a href="{{ rel "/install/" }}">Install</a>
    <a href="{{ rel "/usage/" }}">Usage</a>
    <a href="{{ rel "/docs/" }}">Docs</a>
  </nav>
</header>
