<header>
  <span class="logo">&lthypertext&gt;</span>
  <nav>
    {{#toc "/"}}
    <a href="/{{href}}">{{title}}</a>
    {{/toc}}
    <a href="https://github.com/tmpfs/hypertext">Source</a>
  </nav>
</header>
