<header>
  <span class="logo">&lt;hypertext&gt;</span>
  <nav>
    <a href="{{ link "/" }}">Home</a>
    <a href="{{ link "/install/" }}">Install</a>
    <a href="{{ link "/usage/" }}">Usage</a>
    <a href="{{ link "/docs/" }}">Docs</a>
  </nav>
</header>
