<header>
  <span class="logo">&lt;hypertext&gt;</span>
  <nav>
    <a href="/">Home</a>
    <a href="/install/">Install</a>
    <a href="/usage/">Usage</a>
    <a href="/docs/">Docs</a>
  </nav>
</header>
