html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.projects {
  margin: 0;
  padding: 2em;
}

ul.projects > li {
  display: flex;
  justify-content: space-between;
}

.actions {
  padding: 1em 2em;
}

.flash > div {
  padding: 2em;
}

.flash > div.error {
  border: 1px solid red;
}

.flash > div.info {
  border: 1px solid blue;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 1em 0;
}

input[type="text"] {
  width: 100%;
}

.project-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-editor > header {
  padding: 2em;
  flex: 0;
}

.project-editor > section {
  display: flex;
  height: 100%;
}


.project-editor > section > .file-manager {
  flex-basis: 200px;
}

iframe.preview {
  flex: 1;
  width: 100%;
  /*height: 100%;*/
}
