:root {
  --std-max-width: none;
}

body {
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: stretch;
}

main > header {
  flex: 0;
  background: red;
}

article {
  flex: 1 1;
  display: flex;
  justify-content: space-between;
  /*background: blue;*/
}

footer {
  flex: 0;
  background: green;
}
