:root {
  --std-max-width: none;
}

body {
  padding: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.projects {
  margin: 2em 0;
}

ul.projects > li {
  display: flex;
  justify-content: space-between;
}

.flash > div {
  padding: 2em;
}

.flash > div.error {
  border: 1px solid red;
}

.flash > div.info {
  border: 1px solid blue;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 1em 0;
}

input[type="text"] {
  width: 100%;
}
