<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{keywords}}">
  </head>
  <body>
    {{> header}}
    {{{content}}}
  </body>
</html>
